<header>
  <p class="logo_text">Curly.com</p>
  <p class="tagline">Fashion as unique as you are.</p>
  <p class="big_tagline">Anything that becomes a rage among the masses, popular aesthetic expression, most
    Noteworthy, something that is in vogue, appears in clothing, footwear, accessories, makeup,
    hairstyles, lifestyle, and body proportions.</p>
    <div style="display: flex;gap: 10px;">
      <button class="heroBtn">
        Products
      </button>
      <button class="heroBtn">
        About Us
      </button>      
    </div>
</header>