<header>
  <p class="logo_text">.Curly</p>
  <p class="tagline">fashion as unique as you are.</p>
  <p class="big_tagline">Put on anything that becomes a rage among the masses, popular aesthetic expression, most
    Noteworthy, something that is in vogue, appears in clothing, footwear, accessories, makeup,
    hairstyles, lifestyle, and body proportions.</p>
    <div style="display: flex;flex-wrap: wrap; gap: 20px;margin-top: 50px;">
      <button class="heroBtn primary_btn">
        products
      </button>
      <button class="heroBtn secondary_btn">
        about us
      </button>      
    </div>
</header>


<main>

  <img src="assets/images/tshirt.jpg" width="300px" height="400px" style="object-fit: cover;" alt="">



</main>