
header{
    padding: 10px;
}

.logo_text{
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.tagline{
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}
.big_tagline{
    font-size: 20px;
}

button{
    border: none;
}

.heroBtn{
    font-size: 30px;
    padding: 15px 20px;
    border-radius: 10px;
}