.gohome{
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 20px;
    padding-bottom: 20px;
    border: solid 1px #cea783;
    color: #cea783;
    background-color: rgb(255,255,255,0.3);
    transition: .1s;
}
.gohome:hover{
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border: none;
}