
/* *{
    margin: 0px;
    padding: 0px;
    font-family: serif;
} */

/* 
p{
    margin: 0px;
    padding: 0px;
    width: fit-content !important;
} */

*{
    --pink:#f9a8d4;
    
}

::-moz-selection { /* Code for Firefox */
    color: #1f2937;
    background: #a7f3d0;
  }
  
  ::selection {
    color: #1f2937;
    background: #a7f3d0;
  }


